# GRUB is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# GRUB is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with GRUB.  If not, see <http://www.gnu.org/licenses/>.

echo "${gettinglist}"
set k="_"
for file in /AIO/Files/*/*.iso /AIO/Files/*/*.ISO /AIO/Files/*.iso /AIO/Files/*.ISO \
			/AIO/Files/*/*.img /AIO/Files/*/*.IMG /AIO/Files/*.img /AIO/Files/*.IMG \
			/AIO/Files/*/*.wim /AIO/Files/*/*.WIM /AIO/Files/*.wim /AIO/Files/*.WIM \
			/AIO/Files/*/*.vhd /AIO/Files/*/*.VHD /AIO/Files/*.vhd /AIO/Files/*.VHD \
			/AIO/Files/*/*.vhdx /AIO/Files/*/*.VHDX /AIO/Files/*.vhdx /AIO/Files/*.VHDX \
			/AIO/Files/*/*.ima /AIO/Files/*/*.IMA /AIO/Files/*.ima /AIO/Files/*.IMA; do
	if ! test -e ($root)$file; then continue; fi
	if [ -z "$haveiso" ]; then set haveiso=1; fi
	GetHotkey
	FileProcessing "($root)$file" "$file"
done
if [ -z "$haveiso" ]; then
	esc 1 "${noiso}"
else
	unset haveiso
	source ${prefix}/ReturnMain.cfg
fi