# GRUB is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# GRUB is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with GRUB.  If not, see <http://www.gnu.org/licenses/>.

echo "${scanpartmsg}"
set hotkey="_"
set saved_root=$root
set saved_prefix=$prefix
for dev in (*); do
	regexp -s device '\((.*)\)' $dev
	if [ "$saved_root" == "$device" ]; then continue; fi
	probe -f -s fstype $device

	if [ -z "$fstype" ] -o [ "$fstype" == "procfs" ] -o [ "$fstype" == "pyfs" ] -o [ ! -e ($device)/AIO/grub/grub.cfg ]; then continue; fi

	probe -s vollabel -l $device
	probe -s voluuid -u $device
	if [ -z "$vollabel" ]; then set vollabel="${noname}"; fi
	GetHotkey
	menuentry "${device} - ${vollabel} - ${fstype} - ${voluuid}" $device --hotkey="${hotkey}" {
		set root="${2}"
		set prefix="(${2})/AIO/grub"
		configfile $prefix/grub.cfg
	}
	unset vollabel
	unset voluuid
	unset fstype
done
set root=$saved_root
set prefix=$saved_prefix
ReturnMainMenu;
