# GRUB is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# GRUB is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with GRUB.  If not, see <http://www.gnu.org/licenses/>.
				
#unset ignore_fs_args
#unset ignore_dir_args
#export ignore_fs_args="fat procfs pyfs"
#export ignore_dir_args="procfs pyfs"
unset fs_args
unset file_ext_args
unset file_in_loop_args
export file_ext_args="iso img fs"
export pim=1
FileManager "(${root})"