# GRUB is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# GRUB is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with GRUB.  If not, see <http://www.gnu.org/licenses/>.

echo "${searchcfgmsg}"
set k="_"
for dev in (*); do
	regexp -s device '\((.*)\)' $dev
	if ! searchindevice "$device" "on"; then continue; fi
	probe -s fstype -f $device
	if [ -z "$fstype" ] -o [ "$fstype" == "procfs" ]; then continue; fi
	probe -s vollabel -l $device
	if [ -z "$vollabel" ]; then set vollabel="${noname}"; fi
	probe -s voluuid -u $device
	GetConfigFile "$device" "$vollabel" "$fstype" "$voluuid"
	unset fstype
	unset vollabel
	unset voluuid
done
source ${prefix}/ReturnMain.cfg