<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Blackosx</string>
	<key>Version</key>
	<string>1.1</string>
	<key>Enabled</key>
	<string>no</string>
	<key>screen_width</key>
	<string>1024</string>
	<key>screen_height</key>
	<string>768</string>
	<key>screen_textmargin_h</key>
	<string>10</string>
	<key>screen_textmargin_v</key>
	<string>10</string>
	<key>screen_bgcolor</key>
	<string>#767f73</string>
	<key>background_pos_x</key>
	<string>50%</string>
	<key>background_pos_y</key>
	<string>0</string>
	<key>logo_pos_x</key>
	<string></string>
	<key>logo_pos_y</key>
	<string>5%</string>
	<key>logo_bgcolor</key>
	<string>#000000</string>
	<key>logo_transparency</key>
	<string>255</string>
	<key>devices_pos_x</key>
	<string></string>
	<key>devices_pos_y</key>
	<string></string>
	<key>devices_bgcolor</key>
	<string>#767f73</string>
	<key>devices_transparency</key>
	<string>0</string>
	<key>devices_max_visible</key>
	<string>4</string>
	<key>devices_iconspacing</key>
	<string>45</string>
	<key>devices_layout</key>
	<string>horizontal</string>
	<key>bootprompt_pos_x</key>
	<string></string>
	<key>bootprompt_pos_y</key>
	<string>-6</string>
	<key>bootprompt_width</key>
	<string>40%</string>
	<key>bootprompt_height</key>
	<string>20</string>
	<key>bootprompt_textmargin_h</key>
	<string>10</string>
	<key>bootprompt_textmargin_v</key>
	<string>5</string>
	<key>bootprompt_bgcolor</key>
	<string>#3e3e3e</string>
	<key>bootprompt_transparency</key>
	<string>1</string>
	<key>infobox_pos_x</key>
	<string></string>
	<key>infobox_pos_y</key>
	<string>30%</string>
	<key>infobox_width</key>
	<string>660</string>
	<key>infobox_height</key>
	<string>320</string>
	<key>infobox_textmargin_h</key>
	<string>10</string>
	<key>infobox_textmargin_v</key>
	<string>10</string>
	<key>infobox_bgcolor</key>
	<string>#3e3e3e</string>
	<key>infobox_transparency</key>
	<string>35</string>
	<key>menu_pos_x</key>
	<string></string>
	<key>menu_pos_y</key>
	<string>-5%</string>
	<key>menu_textmargin_h</key>
	<string>10</string>
	<key>menu_textmargin_v</key>
	<string>5</string>
	<key>menu_bgcolor</key>
	<string>#3e3e3e</string>
	<key>menu_transparency</key>
	<string>1</string>
	<key>progressbar_pos_x</key>
	<string></string>
	<key>progressbar_pos_y</key>
	<string>-30%</string>
	<key>progressbar_width</key>
	<string>100</string>
	<key>progressbar_height</key>
	<string>40</string>
	<key>countdown_pos_x</key>
	<string></string>
	<key>countdown_pos_y</key>
	<string>-20%</string>
	<key>boot_width</key>
	<string>1024</string>
	<key>boot_height</key>
	<string>768</string>
	<key>boot_bgcolor</key>
	<string>#AAAAAA</string>
</dict>
</plist>
