### Start
### 4MLinux-21.2.iso
set extract_path=""
set timeout=0
menuentry "4MLinux" --hotkey=1 {
	linux	${extract_path}/boot/bzImage root=/dev/ram0 vga=normal
	initrd	${extract_path}/boot/initrd.gz
}
### End