### Start
### AcronisBackupAdvancedUniversal 11.7 (14.09.2016)
set iso_path=""
set timeout=0
menuentry "[1] Acronis Backup Advanced Universal" --hotkey=1 {
	set gfxpayload=1024x768x32,1024x768
	booting ${iso_path}
	loopback loop ${iso_path}
	if [ -e (loop)/lin64ram.dat ]; then
		linux	(loop)/kernel.dat product=bootagent media_for_windows quiet logo.nologo panic=15
		initrd	(loop)/lin64ram.dat (loop)/ramdisk.dat (loop)/ramdisk2.dat
	else
		if cpuid -l; then
			linux	(loop)/abr64ker.dat product=bootagent media_for_windows quiet
			initrd	(loop)/abr64ram.dat (loop)/dat8.dat
		else
			linux	(loop)/abr32ker.dat product=bootagent media_for_windows quiet
			initrd	(loop)/abr32ram.dat (loop)/dat4.dat
		fi
	fi
	loopback -d loop
}
### End