### Start
:menucode
set path_file
set nfspath
kernel ${boot-url}${path_file}/live/vmlinuz boot=live components netboot=nfs nfsroot=${nfs-server}:${nfspath}
initrd ${boot-url}${path_file}/live/initrd.img || goto failed
boot || goto failed
goto start
### End