### Start
### drweb-livedisk-900-cd.iso
set extract_path=""
set timeout=0
menuentry "Dr.Web LiveCD" --hotkey=1 {
	linux	${extract_path}/casper/vmlinuz boot=casper cdrom-detect/try-usb=true noprompt floppy.allowed_drive_mask=0 ignore_uuid live-media-path=${extract_path}/casper/ quiet splash --
	initrd	${extract_path}/casper/initrd.lz
}
### End