### Start
### kav_rescue_10.iso (10.0.32.17)
set iso_path=""
if loadfont /Boot/grub/fonts/unicode.pf2 ; then
	set gfxmode=1024x768
	set gfxpayload=1024x768x32
	insmod gfxterm
	insmod vbe
	if terminal_output gfxterm ; then true ; else
	# For backward compatibility with versions of terminal.mod that don't
	# understand terminal_output
	terminal gfxterm
	fi
fi
menuentry "[1] Kaspersky Rescue Disk. Graphic Mode" --hotkey=1 {
	booting ${iso_path}
	loopback loop ${iso_path}
	linux	(loop)/boot/rescue root=live:CDLABEL=KRD10 rootfstype=auto vga=791 init=/init initrd=rescue.igz kav_lang=en udev liveimg splash quiet doscsi nomodeset
	initrd	(loop)/boot/rescue.igz
	loopback -d loop
}
menuentry "[2] Kaspersky Rescue Disk. Text Mode" --hotkey=2 {
	booting ${iso_path}
	loopback loop ${iso_path}
	linux	(loop)/boot/rescue root=live:CDLABEL=KRD10 rootfstype=auto vga=791 init=/init initrd=rescue.igz kav_lang=en udev liveimg quiet nox kavshell noresume doscsi nomodeset
	initrd	(loop)/boot/rescue.igz
	loopback -d loop
}
menuentry "[3] Hardware Info" --hotkey=3 {
	booting ${iso_path}
	loopback loop ${iso_path}
	linux	(loop)/boot/rescue root=live:CDLABEL=KRD10 rootfstype=auto vga=791 init=/init initrd=rescue.igz kav_lang=en udev liveimg quiet softlevel=boot nox hwinfo noresume doscsi nomodeset
	initrd	(loop)/boot/rescue.igz
	loopback -d loop
}
### End