### Start
### lxle-eclectica-16.04.1.iso
set extract_path=""
if loadfont ${extract_path}/boot/grub/font.pf2 ; then
  set gfxmode=auto
  insmod efi_gop
  insmod efi_uga
  insmod gfxterm
  terminal_output gfxterm
fi

set default="0"
set menu_color_normal=white/black
set menu_color_highlight=black/light-gray
set_background_image "/isolinux/splash.png"
set timeout=7

if [ -f ${extract_path}/casper/vmlinuz.efi ]; then
	set vmlinuzf="vmlinuz.efi"
else
	set vmlinuzf="vmlinuz"
fi
menuentry "Boot LXLE Eclectica Live Disc" --hotkey=1 {
	set gfxpayload=keep
	linux	${extract_path}/casper/${vmlinuzf} file=${extract_path}/preseed/custom.seed boot=casper cdrom-detect/try-usb=true noprompt floppy.allowed_drive_mask=0 ignore_uuid live-media-path=${extract_path}/casper/ quiet splash ---
	initrd	${extract_path}/casper/initrd.lz
}
menuentry "Check disc for defects" --hotkey=2 {
	set gfxpayload=keep
	linux	${extract_path}/casper/${vmlinuzf} boot=casper cdrom-detect/try-usb=true noprompt floppy.allowed_drive_mask=0 ignore_uuid live-media-path=${extract_path}/casper/ integrity-check quiet splash --
	initrd	${extract_path}/casper/initrd.lz
}
### End