### Start
### MiniTool Partition Wizard 9.1
set extract_path=""
set timeout=0
menuentry "MiniTool Partition Wizard" --hotkey=1 {
	set gfxpayload=keep
	linux	${extract_path}/casper/vmlinuz.efi ramdisk_size=409600 root=/dev/ram0 rw
	initrd	${extract_path}/casper/tinycore.gz
}
### End