### Start
### wifislax-4-12-final.iso
set iso_path=""
set path=""
menuentry "Wifislax With KDE Desktop" --hotkey=1 {
	booting ${iso_path}
	loopback loop ${iso_path}
	linux	(loop)/boot/vmlinuz noload=000-SMP\;006-Xfce load=English autoexec=startx from=${iso_path}
	initrd	(loop)/boot/initrd.xz
	loopback -d loop
}
if [ -e ${path}data.img ]; then
menuentry "Wifislax With KDE Desktop + ${persistent}" --hotkey=2 {
	booting ${iso_path}
	loopback loop ${iso_path}
	linux	(loop)/boot/vmlinuz noload=000-SMP\;006-Xfce load=English autoexec=startx from=${iso_path} changes=${path}data.img
	initrd	(loop)/boot/initrd.xz
	loopback -d loop
}
fi
menuentry "Wifislax With Xfce Desktop" --hotkey=3 {
	booting ${iso_path}
	loopback loop ${iso_path}
	linux	(loop)/boot/vmlinuz noload=000-SMP\;005-Kde load=English autoexec=startx from=${iso_path}
	initrd	(loop)/boot/initrd.xz
	loopback -d loop
}
if [ -e ${path}data.img ]; then
menuentry "Wifislax With Xfce Desktop + ${persistent}" --hotkey=4 {
	booting ${iso_path}
	loopback loop ${iso_path}
	linux	(loop)/boot/vmlinuz noload=000-SMP\;005-Kde load=English autoexec=startx from=${iso_path} changes=${path}data.img
	initrd	(loop)/boot/initrd.xz
	loopback -d loop
}
fi
menuentry "Wifislax With [acpi=off]" --hotkey=5 {
	booting ${iso_path}
	loopback loop ${iso_path}
	linux	(loop)/boot/vmlinuz acpi=off noload=000-SMP\;006-Xfce load=English\;Noacpi autoexec=startx from=${iso_path}
	initrd	(loop)/boot/initrd.xz
	loopback -d loop
}
menuentry "Wifislax With Vesa Graphics" --hotkey=6 {
	booting ${iso_path}
	loopback loop ${iso_path}
	linux	(loop)/boot/vmlinuz nomodeset noload=000-SMP\;006-Xfce\;013-D\;014-D load=English\;Vesa autoexec=startx from=${iso_path}
	initrd	(loop)/boot/initrd.xz
	loopback -d loop
}
menuentry "Wifislax Text Mode" --hotkey=7 {
	booting ${iso_path}
	loopback loop ${iso_path}
	linux	(loop)/boot/vmlinuz noload=000-SMP\;006-Xfce load=English init 3 autoexec=startx from=${iso_path}
	initrd	(loop)/boot/initrd.xz
	loopback -d loop
}
menuentry "Wifislax Copy To Ram" --hotkey=8 {
	booting ${iso_path}
	loopback loop ${iso_path}
	linux	(loop)/boot/vmlinuz copy2ram noload=000-SMP\;006-Xfce load=English autoexec=startx from=${iso_path}
	initrd	(loop)/boot/initrd.xz
	loopback -d loop
}
### End