### Start WinPE
if [ "$pc" ] -a [ -f /AIO/MS/BCD ]; then
menuentry "[1] WinPE & Setup" --hotkey=1 {
	WinLegacy
}
elif [ "$efi" ] -a [ -f /EFI/Microsoft/Boot/BCD ]; then
menuentry "[1] WinPE & Setup" --hotkey=1 {
	chainloader /EFI/Microsoft/Boot/boot${_SPEC_UEFI_ARCH}.efi
}
fi
### End WinPE